.profile{
    padding: 10px 8px;

}
.user{
    display: flex;
    align-items: center;

}
.edit-profile{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 15px;
}
.user-img{
    width: 80px;
  height: 80px;
  margin: 5px;
}
.user-name{
    padding: 5px;
}
.profile-description{
    padding-left: 10px;
}
.pre{
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }