/* *{
  margin: 0;padding: 0;
} */
/* .tp-navbar{
  height: 40px;
  color: white;
  background-color: #61dafb;
} */
/* li{
list-style: none;
padding: 7px 12px;
}
ul li a{
color: black;
list-style: none;
text-decoration: none;
padding-top: 5px;
} */


.App-link {
  color: #61dafb;
}
.container{
padding-bottom: 70px;
}
@media only screen and (min-width: 600px){
  .container{
  padding-bottom: 5px;
  }
  .container{
    padding-left: 80px;
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
